/* Typography System */

/* 
Font size system 
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

*/

/* 
Spacing System 
2/4/8/12/16/24/32/48/64/80/96/128

colors: 
main: #f98539

*/

.html-class {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Syne", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #444;
  background-color: #ebebec;
  overflow-x: hidden;
}

.body-hide-overflow-y {
  overflow: hidden;
}

/* ***************************************************************** */
/* Header */
/* ***************************************************************** */

.header {
  font-size: 1.8rem;
  background-color: #1f2326;
  padding: 3.2rem 5.2rem;
  color: #ebebec;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #ebebec;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
}

.btn-cta:link,
.btn-cta:visited {
  padding: 1rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 16px;
  letter-spacing: 2px;
}

.btn-cta:hover,
.btn-cta:active {
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  gap: 2rem;
}

.media-icon {
  font-size: 1.6rem;
  color: #ebebec;
}

.media-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.sticky .header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #1f23265d;
}

.sticky .hero {
  margin-top: 9.6rem;
}

/* Mobile navigation */

.mobile-nav-list {
  display: none;
}

/* ********************************************************************** */
/* Hero Section */
/* ********************************************************************** */

.hero {
  font-size: 2rem;
  padding: 4.8rem 3.2rem;
  background-color: #1f2326;
  color: #ebebec;

  display: flex;
  gap: 3.2rem;
}

.hero-image {
  width: 95%;
}

.summary {
  padding: 3.2rem 3.2rem;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-heading,
.secondary-heading {
  font-weight: 700;
  color: #ebebec;
  letter-spacing: -0.5px;
}

.hero-heading {
  font-size: 5.2rem;
  margin-bottom: 2.4rem;
}

.hero-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
  margin-top: 2.4rem;
  margin-right: 5rem;
}

.link-01:link,
.link-01:visited {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  border-radius: 16px;
  letter-spacing: 2px;
  transition: all 0.3ms;
}

.link-01:hover,
.link-01:active {
  background-color: #000000;
  color: #ffffff;
}

.link-02:link,
.link-02:visited {
  text-decoration: none;
  background-color: #fef3eb;
  padding: 1rem;
  color: #333;
  border-radius: 16px;
  border: solid 1px #333;
  letter-spacing: 2px;
  transition: all 0.3ms;
}

.link-02:hover,
.link-02:active {
  background-color: #484e53;
  color: #ffffff;
}

/* ********************************************************************* */
/* Services Section */
/* ********************************************************************** */

.section-services {
  padding: 9.6rem 6.4rem;
  background-color: #ebebec;
  color: #000000;
}

.subheading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.secondary-heading {
  font-size: 4.4rem;
  color: #000000;
}

.services-heading {
  margin-bottom: 4.8rem;
}

.image-list {
  width: 60%;
}

.last-img {
  width: 120%;
}

.service {
  display: flex;
  align-items: center;
}

.service-text {
  font-size: 2rem;
  line-height: 1.2;
}

.service-no {
  font-size: 8.6rem;
  font-weight: 600;
  color: #5d616646;
}

.services-tertiary-heading {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.service-img--odd {
  display: flex;
  justify-content: flex-end;
}

.service-img--even {
  display: flex;
  justify-content: flex-start;
}

.last-service-text {
  padding-right: 20rem;
}

/* ********************************************************************* */
/* Services Section */
/* ********************************************************************** */

.gallery {
  padding: 9.6rem 6.4rem;
  background-color: #1f2326;
  position: relative;
}

.initialize-padding {
  padding: 0rem 0rem;
}

.gallery-heading {
  text-align: center;
  margin-bottom: 6.4rem;
  font-weight: 400;
  font-size: 5.2rem;
  color: #d6d8d9;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-image {
  transition: all 0.3s;
  height: 40rem;
}

.gallery-image:hover {
  transform: scale(1.04);
}

.image-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slider Section */

.slider-section {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.slider-section-inactive {
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.slider-div {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

.slider-image-div {
  transform: translateX(0%);
  padding-top: 10rem;
  margin: 0 45rem 0 45rem;
  display: flex;
  gap: 100vw;
  transition: all 0.5s;
}

.image-gallery--slider {
  width: 50rem;
  height: 50rem;
}

.slider-icons {
  color: white;
  font-size: 4rem;
}

.slider-icons-div {
  cursor: pointer;
}

.slider-icons-div-forward {
  position: absolute;
  top: 29rem;
  right: 10rem;
}

.slider-icons-div-back {
  position: absolute;
  top: 29rem;
  left: 10rem;
}

.slider-icons-div-close {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.slider-status {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 4rem;
  right: 62rem;
}

/* ********************************************************************* */
/* Contact us Section */
/* ********************************************************************** */

/* 
Font size system 
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

*/

/* 
Spacing System 
2/4/8/12/16/24/32/48/64/80/96/128

colors: 
main: #f98539

*/

.section-contact-us {
  font-size: 1.6rem;
  margin-bottom: 9.6rem;
  color: #ffffff;
}

.cta {
  max-width: 72rem;
  margin: 7rem auto 0 auto;
  padding: 4.8rem 5.2rem;
  background-image: linear-gradient(to right bottom, #1f2326, #717579);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 15%);

  display: grid;
  grid-template-columns: 2fr 1fr;
}

label {
  display: block;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta-heading {
  margin-bottom: 3.2rem;
}

.name-input {
  display: flex;
  gap: 2rem;
}

.name-input input {
  width: 100%;
}

.form-inputs input {
  padding: 0.7rem 0.3rem;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.6rem;
  border: none;
}

.form-inputs label {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.email-input input {
  width: 100%;
}

.message-input textarea {
  width: 100%;
  resize: none;
  background-color: #ffffff;
  color: #000000;
  padding: 0 0.3rem;
  border: 0;
  font-size: 1.6rem;
}

.message-input textarea::placeholder {
  font-size: 1.6rem;
  color: #888;
}

.form-inputs input::placeholder {
  font-size: 1.6rem;
  color: #888;
}

*:focus {
  outline: none;
  border: 1.8px dotted #000000;
  border-radius: 5px;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #fff7e66d;
}

.cta-btn-class {
  margin-top: 4rem;
}

.cta-form-button:link,
.cta-form-button:visited {
  background-color: #ffffff;
  color: #000000;
}

.cta-form-button:hover,
.cta-form-button:active {
  background-color: #000000;
  color: #ffffff;
}

.contact-us {
  font-style: normal;
  padding-left: 3rem;
}

.address {
  margin-bottom: 2rem;
}

.tel-email {
  line-height: 3;
}

.contact-us-link:link,
.contact-us-link:visited {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
  border: 1rem;
}

.contact-us-link:hover,
.contact-us-link:active {
  color: #d6d8d9;
  font-size: 1.6rem;
  border: 1rem;
}

/* ********************************************************************* */
/* Footer Section */
/* ********************************************************************** */

.footer {
  border-top: 0.5px solid #5d616655;
  padding: 3rem;
}

.copyright {
  text-align: center;
  font-size: 1.1rem;
  color: #5d6166;
  margin-bottom: -1rem;
}
